* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

img {
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.sp-menu #open {
    cursor: pointer;
    font-size: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.74);
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: .5s;
    max-width: 100%;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.sp-menu #open.hide {
    opacity: 0;
}

.overlay #close {
    cursor: pointer;
    font-size: 45px;
    position: absolute;
    right: 38px;
    top: 18px;
    color: white;
}

.overlay #nav {
    background: black;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 60px 25px;
}

#nav {
    opacity: 0;
    transform: translateX(-300px);
    transition: all .8s;
}

#nav.in {
    opacity: 1;
    transform: translateX(0);
}

.overlay #nav .nav-menu {
    margin-bottom: 60px;
    font-size: 14px;
}

.overlay #nav .nav-menu li {
    padding: 25px 0;
    border-bottom: 1px solid white;
}

.overlay #nav .nav-menu li:first-child {
    border-top: 1px solid white;
}

.overlay #nav  a {
    text-decoration: none;
    color: white;
}

.overlay #nav .sns-menu li {
    font-size: 14px;
    padding: 10px 0;
}

#bg-video {
    width: 100%;
}

#video {
    margin-bottom: 100px
}

.section-title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
}

.pick-up {
    margin-bottom: 100px;
}

.swiper {
    max-width: 100%;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    width: 260px;
    height: 230px;
}

.feature {
    margin-bottom: 60px;
    padding: 0 16px 0 16px;
}

.feature .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .flex .item {
    width: 32%;
    box-shadow: 0px 3px 10px rgba(0,0,0,.4);
    margin-bottom: 2%;
    transition: all  0.3s ease;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

.item img.scroll-in {
    opacity: 1;
    transform: translateY(0);
}

.feature .item-content {
    padding: 27px 31px;
}

.feature .item-content .item-cate {
    font-size: 12px;
    padding-bottom: 20px;
}

.feature .item-content .item-text {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
    padding-bottom: 33px;
}

.feature .item-content .item-date {
    font-size: 12px;
    text-align: right;
}

.contact {
    background-color: black;
    color: white;
}

.contact .content {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 60px 16px;
}

.contact .content .text {
    width: 45%;
    font-size: 15px;
}

.contact .content .text p {
    margin-bottom: 30px;
    line-height: 1.5;
}

.contact .content .form {
    width: 45%;
}

.contact .content .form dt  {
    font-size: 15px;
    margin-bottom: 2px;
}

.contact .content .form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 13px;
}

.contact .content .form textarea {
    width: 100%;
    margin-bottom: 24px;
    padding: 20px;
}

button {
    padding: 0;
    border: 1px solid white;
}

button a {
    display: inline-block;
    padding: 15px 78px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

button a:hover {
    background-color: white;
    color: black;
}

#footer {
    background-color: black;
    color: white;
}

#footer .copy-right {
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}

@media(max-width:600px) {
    .section-title {
        font-size: 24px;
    }

    .feature .flex {
        flex-direction: column;
    }

    .feature .flex .item {
        width: 100%;
    }

    .contact .content {
        flex-direction: column;
        padding-bottom: 90px;
    }

    .contact .content .text {
        width: 100%;
    }

    .contact .content .form {
        width: 100%;
    }

    button {
        width: 100%;
    }

    button a {
        width: 100%;
    }

    #bg-video {
        height: 100vh;
        object-fit: cover;
    }
}